
.card {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.links {
    color: rgb(255, 9, 198);
}

.email {
    color: rgb(255, 9, 198);
} 

.github {
    color: rgb(255, 9, 198);
}

.linkedin {
    color: rgb(255, 9, 198);
}

